.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 5px;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.form-control input:focus {
  outline: none;
  background: #d7d6d6;
  border-color: #4e4e4ec1;
}

.form-control.invalid input{
  border-color: red;
  background-color: rgb(255, 199, 199);
}

.form-control.form-control.invalid label{
  color: red;
}